<web-app >
  <display-name>UploadApp</display-name>
  <welcome-file-list>
     <welcome-file>upload.html</welcome-file>
  </welcome-file-list>
   <servlet>
     <servlet-name>upload</servlet-name>
     <servlet-class>com.nt.servlet.UploadServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>upload</servlet-name>
      <url-pattern>/uploadurl</url-pattern>
   </servlet-mapping>
</web-app>