<web-app>
  <display-name>WATwo</display-name>
  <filter>
     <filter-name>login</filter-name>
     <filter-class>com.nt.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
     <filter-name>login</filter-name>
     <url-pattern>/loginurl</url-pattern>
  </filter-mapping>
  <servlet>
     <servlet-name>login</servlet-name>
     <servlet-class>com.nt.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>login</servlet-name>
     <url-pattern>/loginurl</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
</web-app>