<web-app>
  <display-name>WATwo</display-name>
  <servlet>
     <servlet-name>second</servlet-name>
     <servlet-class>com.nt.servlet.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>second</servlet-name>
     <url-pattern>/surl</url-pattern>
  </servlet-mapping>
</web-app>