<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MIME</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HtmlServlet</display-name>
    <servlet-name>HtmlServlet</servlet-name>
    <servlet-class>com.servlet.view.HtmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HtmlServlet</servlet-name>
    <url-pattern>/HtmlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WordServlet</display-name>
    <servlet-name>WordServlet</servlet-name>
    <servlet-class>com.servlet.view.WordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WordServlet</servlet-name>
    <url-pattern>/WordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XmlServlet</display-name>
    <servlet-name>XmlServlet</servlet-name>
    <servlet-class>com.servlet.view.XmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XmlServlet</servlet-name>
    <url-pattern>/XmlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelServlet</display-name>
    <servlet-name>ExcelServlet</servlet-name>
    <servlet-class>com.servlet.view.ExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelServlet</servlet-name>
    <url-pattern>/ExcelServlet</url-pattern>
  </servlet-mapping>
</web-app>