<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CURD</display-name>
  <servlet>
    <servlet-name>SaveRecord</servlet-name>
    <servlet-class>com.servlet.servlets.SaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveRecord</servlet-name>
    <url-pattern>/SaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewRecord</servlet-name>
    <servlet-class>com.servlet.servlets.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRecord</servlet-name>
    <url-pattern>/ViewServlet</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  <servlet-name>EditRecord</servlet-name>
  <servlet-class>com.servlet.servlets.EditServlet</servlet-class>
    </servlet>
  <servlet-mapping>
  <servlet-name>EditRecord</servlet-name>
  <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>EditRecord2</servlet-name>
  <servlet-class>com.servlet.servlets.EditServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>EditRecord2</servlet-name>
  <url-pattern>/EditServlet2</url-pattern>
  </servlet-mapping>
  
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
